@charset "utf-8";

@font-face {
    font-family: 'BMYEONSUNG';
    font-style: normal;
    font-weight: 400;
    src:local('BMYEONSUNG'),
        url('../font/BMYEONSUNG.woff2') format('woff2'), 
        url('../font/BMYEONSUNG.woff') format('woff'),
        url('../font/BMYEONSUNG.ttf') format('truetype'),
        url('../font/BMYEONSUNG.eot') format('embedded-opentype');
}

body *{
    font-family:'BMYEONSUNG';
    /* font-family: 'Nanum Brush Script', cursive; */
}

.clear_fix::after{
    display:block;
    content:'';
    clear:both;
}

header{
    position:fixed;
    top:0;
    left:-30rem;
    height:100%;
}
header.show{
    left:0;
    transition:left 2s ease-out;
}
.staff_wrap header{
    left:0;
}

.header_wrap{
    height:100%;
    padding-top:10rem;
    margin-left:-10rem;
    transform:rotate(180deg);
    
    background:#f76eab;
}
.header_wrap.show{
    margin-left:0;
    transition:margin-left 2.5s ease-out;
}
.staff_wrap .header_wrap{
    margin-left:0;
}

.link_box{
    position:relative;
    writing-mode: vertical-lr;
    font-family:'Noto Sans KR', sans-serif;
    font-size:1.6rem;
    color:#763552;
    letter-spacing:-1px;
    text-orientation: sideways-right;
    padding:2rem 3rem 2rem 2.5rem;
}
.link_box.on,
.link_box:hover{
    color:#4a323d;
}
.link_box span{
    position:absolute;
    top:50%;
    left:-0.7rem;
    display:none;
    width:1rem;
    height:0.4rem;
    transform:rotate(90deg);
    background:#763552;
}
.link_box.on span,
.link_box:hover span{
    display:block;
}
.copyright{
    position:absolute;
    top:0;
    left:7.6rem;
    height:100%;
    border-right:solid 1px #aaa;
    background:#eee;
}
.copyright span{
    display:inline-block;
    width:4px;
    height:14px;
}
.copyright img{
    display:inline-block;
    width:3.4rem;
    margin-top:-2rem;
    border-radius:0.5rem;
    opacity:0.8;
}

.typing{
    opacity:1;
    overflow:hidden;
    font-size:4rem;
    color:#333;
    letter-spacing:-8px;
    line-height:130%;
    writing-mode:vertical-rl;
    text-orientation:upright;
    padding:6rem 5rem 0;
    white-space: nowrap;
    animation: 
        typing 3s,
        opacity 5s steps(20, end);
    animation-delay:5.5s;
}
.staff_wrap .typing{
    opacity:0;
    animation:opacity 2s steps(30, end);
    animation-delay:none;
}


/* SECTION */
section{
    opacity:0;
}
section.active{
    opacity:1;
    transition:opacity 0.5s;
}

  
/* The typing effect */
@keyframes typing {
    from { height: 0 }
    to { height: 100% }
}
@keyframes opacity {
    from {opacity:0}
    to {opacity:1}
}